/* "Bebas Neue" font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* "Montserrat" font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/* variables */
:root {
  --background-primary: #ebebeb;
  --splash-primary: #2c2c2c;
  --text-primary: #242424;
  --text-white: #ebebeb;
}

/* dark mode override */
@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #2c2c2c;
    --splash-primary: #ebebeb;
    --text-primary: #f1f1f1;
  }
}

h1 {
  font-family: 'Bebas Neue', sans-serif ;
  font-size: 4rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 10px;
}

p, a, figcaption {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

figcaption {
  font-size: 0.8rem;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.splash {
  width: 40%;  
  position: relative;

  /* background image */
  background: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  /* fallback */
  background-color:var(--splash-primary);
}

.title-backdrop {
  width: 100%;
  margin-top: 30%;
  background-color: rgba(0, 0, 0, 0.7);

  /* child positioning */
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-logo {
  margin: 20px 15px;
  height: 125px;
}

.title {
  padding: 10px;
  color: var(--text-white);
}

.splash-caption {
  /* centering of caption */ 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

  /* styling */
  margin-bottom: 10px;
  color: var(--text-white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.splash-caption a {
  /* Override visited and unvisited coloring */
  color: var(--text-white);
}

.signup {
  width: 60%;
  background-color: var(--background-primary);
}